
<div class="text-center">
    <h1>API Response with JavaScript</h1>
</div>
<input type="button" value="Call API" onclick="CallApiJS(@ViewBag.Token)" />

<div>
    <span id='apiClaims'></span>
</div>
<script src="~/js/site.js"></script>